.info-container {
    display: flex;
    flex-direction: row;
    @media (max-width:767px) {
        flex-direction: column;
    }
}

.info-content {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    &.about {
        align-items: flex-start;
        @media (max-width:1399px) {
            flex-direction: column-reverse;
        }
    }
    &.inform {
        align-items: flex-start;
        @media (max-width:767px) {
            flex-direction: column;
        }
    }
    @media (max-width:767px) {
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}



.info-content-item {
    position: relative;
    min-height: 20px;
    max-height: 736px;

    @media (max-width:1399px) {

        display: flex;
        justify-content: center;

        svg path {
            fill: #ECF6FB;
            fill-opacity: 1;
        }
        svg rect {
            stroke: #ECF6FB;
            stroke-opacity: 1;
        }
    }
}

.info-content_img {
    position: absolute;
    &.one {
        width: 300px;
        height: 300px;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.5s;

        @media (min-width:1399px) {
            &:hover {
                transform: rotate(90deg);
            }
    
        }
        
       
        @media (max-width:1920px) {
            width: 200px;
            height: 200px;
        }

        @media (max-width:1399px) {
            width: 150px;
            height: 150px;
            width: 300px;
            height: 300px;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
        }
        
    }
    &.two {
        top: 10vh;
        right: 0;
        border-radius: 40px;
        filter: contrast(0.8);

        @media (max-width:1920px) {
            right: auto;
            left: 5vw;
        }

        @media (max-width:1399px) {
            top: auto;
            left: auto;
            position: relative;
            filter: contrast(1);
        }

    }
}

.blue-fader {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 920px;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 164, 223, 0.459);

    @media (min-width:1399px) {
        display: none;
    }
}

.info-text {
    
&.recipe {
    @media (max-width:767px) {
        margin-top: 20px;
    }
    
}
}

.info-subtext {

&.alert {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
}

.info_alert-content {
    display: flex;
}
.alert-sign {
    color: var(--gray-65);
font-family: var(--font-family);
font-size: 80px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.info_icons {
    display: flex;
    justify-content: space-between;
    @media (max-width:767px) {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}
.info_icon {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 540px;
    @media (max-width:540px) {
        width: 100%;
    }
    &.about {
        width: auto;
        position: relative;
        &:hover {
            p {
                color: rgb(0, 164, 223);
                transition: 0.2s ease;
            }
            img {
                transition: .2s ease;
                transform: scale(1.1);
            }
        }
    }
}
.icon {
    width: 40px;
    height: 40px;
    margin-right: 1.25rem;
}

.info_icon-text {
    margin: auto 0;
}

.map_info {
    margin: 100px auto auto 30px;
    width: 825px;
    height: 624px;
    overflow: hidden;
    @media (max-width: 990px) {
        width: 90%;;
        height: 400px;
    }
    @media (max-width: 767px) {
        width: 90%;;
        height: 462px;
    }
}

/*Текст*/
.info-content_text {
    h4 {
        color: var(--black);
        font-family: var(--third-family);
        font-size: 3rem; /* 48px / 16px */
        font-weight: 500;
        line-height: 3.625rem; /* 58px / 16px */
        letter-spacing: 0%;
        text-align: left;
        margin: 5rem 0 3.125rem 0; /* 80px 0 50px 0 / 16px */
        @media (max-width:1400px) {
            margin: 0.5rem 0;
        }
    }
    p {
        color: var(--gray-65);
        font-family: var(--font-family);
        font-size: 1.25rem; /* 20px / 16px */
        font-weight: 400;
        line-height: 1.5rem; /* 24px / 16px */
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 1.875rem; /* 30px / 16px */
    }
}