
.news-slide {
    border-radius: 50px;
    overflow: hidden;
}

.news-swiper {
    border-radius: 50px;
    overflow: hidden;
}
.news-item-content {
    margin-top: 100px;
    @media (max-width:1399px) {
        margin-top: 70px;
    }
    @media (max-width:991px) {
        margin-top: 50px;
    }
    @media (max-width:768px) {
        margin-top: 30px;
    }
    @media (max-width:391px) {
        margin-top: 15px;
    }
}

.news-swiper .swiper-slide img {
    width: 100%;
    max-height: 787px;
    object-fit: cover; 
    object-position: center; 
}

.news__slide-button {
    border-color: var(--photofolter);
    width: 20px;
	height: 20px;
    &::after {
		content: "";
		width: 15px;
		height: 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: 0.2s ease;
	}
	&:hover {
		background-color: var(--photofolter);
		border-color: var(--photofolter);
		transition: 0.2s ease;
	}
}

.news__slide-button.active {
    background-color: var(--photofolter);
  }

  .news-item__swiper_navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px auto 100px auto;
  }

  .news_others {
    background: rgb(241, 241, 241);
    padding: 100px 0;

    margin-bottom: 100px;
    @media (max-width:991px) {
       padding: 50px 0;
    }
    @media (max-width:768px) {
        padding: 25px 0;
     }
     @media (max-width:391px) {
        padding: 15px 0;
     }
  }

  /*Текст */
  .news-title {
    h3 {
        color: var(--gray-65);
        font-family: var(--font-family);
        text-align: left;
        letter-spacing: 0%;
        font-size: 3rem;
        font-weight: 500;
        line-height: 77px;
        @media (max-width:1400px) {
            margin: 0.5rem 0;
        }
        @media (max-width:1200px) {
            font-size: 1.75rem; /* 28px / 16px */
            line-height: 1; 
        }
        @media (max-width:991px) {
            font-size: 1.5rem; /* 24px / 16px */
        }
        @media (max-width:550px) {
            font-size: 1rem; /* 16px / 16px */
        }
    }
  }
  .news-item-content {
    span,
    p {
        color: var(--gray-65);
        font-family: var(--font-family);
        text-align: left;
        letter-spacing: 0%;
    }
    span {
        font-size: 1rem; /* 16px */
        font-weight: 500;
        line-height: 1.2rem; /* 120% of 16px */
        @media (max-width:540px) {
            font-size: 0.8rem;
        }
    }
    p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 1.875rem;
        strong {
            font-weight: 700;
        }
        @media (max-width:991px) {
            line-height: 1;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
        @media (max-width:540px) {
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
    }
  }