.recipe__main_img-container {
    margin-top: 106px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe__main_img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    max-height: 1200px;
}
.breadcrumbs {
    &.recipe {
        position: absolute;
        z-index: 2;
    }
}
.breadcrumbs__prev{
    &.recipe {
        color: var(--white);
    }
}

.cookbook__title {
    &.recipe {
        position: absolute;
        text-align: center;
        max-width: 1124px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cookbook__grid_item-info {
    &.recipe-item {
        position: absolute;
        left: auto;
        right: auto;
        bottom: 15%;
        max-width: 140px;
        &:hover {
            background-color: rgba(255, 255, 255, 0);
            border-color: var(--white);
        }
        @media (max-width:1920px) {
            font-size: calc(20px - 0.1vw);
            padding: 10px 15px 10px 20px;
        }
        @media (max-width:560px) {
            font-size: calc(20px - 2vw);
            padding: 5px 10px 5px 15px;
        }
        @media (max-width:391px) {
            display: none;
        }
    }
}

.cookbook__title-text {
    &.recipe_text{
        color: var(--white);
        @media (max-width:767px) {
            font-size: calc(48px - 3vw);
        }
        @media (max-width:460px) {
            font-size: calc(48px - 6vw);
        }
        @media (max-width:360px) {
            font-size: calc(48px - 10vw);
        }
        @media (max-width:320px) {
            font-size: calc(48px - 12vw);
        }
    }
}

.ricipe_cards {
    &.info {
        display: flex;
        flex-direction: column;
        @media (max-width:767px) {
            margin-top: 20px;
            display: flex;
            /*margin: auto 10% auto 10%;*/
            margin-bottom: 6rem;
            margin-right: 50%;
        }
        @media (max-width:391px) {
            margin-bottom: 3rem;
            margin-right: 0;
        }
    }
}

.info-content {
    &.ricipe-text {
        gap: 0px;
        align-items: flex-start;
        @media (max-width:1400px) {
            margin-top: 3rem;
         }
        @media (max-width:768px) {
           
           margin-top: 0;
        }
    }
}

.recipe_icons {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 3.125rem 0; /* 80px 0 50px 0 / 16px */
        @media (max-width:1400px) {
            margin: 0.5rem 0;
        }
        @media (max-width:1200px) {
            font-size: 2rem; /* 32px / 16px */
            line-height: 1;
        }
        @media (max-width:991px) {
            font-size: 1.75rem; /* 32px / 16px */
            line-height: 1;
        }
        
        @media (max-width:550px) {
            font-size: 2rem; /* 32px / 16px */
            line-height: 1;
        }
    @media (max-width:767px) {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}
.recipe_icon {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
    @media (max-width:768px) {
        gap: 5px;
        svg {
           width: 30px;
           height: 30px; 
        }
    }
}


.recipe_icon-text {
    margin: auto 0;
}


.cookbook__title-text {
    &.info {
        text-align: left;
        padding-left: 0;
    }
}

.cookbook__grid {
    &.info {
        grid-template-rows: repeat(1, 1fr);
    }
}

.try-more-all {
    max-width: 215px;
    border: 1px solid var(--black);
    border-radius: 81px;
    padding: 15px 20px 15px 25px;

    @media (max-width:1920px) {
        padding: 10px 15px 10px 20px;
    }
    @media (max-width:460px) {
        padding: 5px 10px 5px 15px;
    }
    }
.try-more-all_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*Текст */
.ricipe-text {
    h4 {
        color: var(--black);
        font-family: var(--font-family);
        font-size: 3rem; /* 48px / 16px */
        font-weight: 500;
        line-height: 3.625rem; /* 58px / 16px */
        letter-spacing: 0%;
        text-align: left;
        margin: 5rem 0 3.125rem 0; /* 80px 0 50px 0 / 16px */
        @media (max-width:1400px) {
            margin: 0.5rem 0;
        }
        @media (max-width:1200px) {
            font-size: 2rem; /* 32px / 16px */
            line-height: 1;
        }
        @media (max-width:991px) {
            font-size: 1.75rem; /* 32px / 16px */
            line-height: 1;
        }
        @media (max-width:768px) {
            margin-bottom: 1rem;
        }
    }
    }

.recipe_subtext {
    h4 {
        color: var(--black);
        font-family: var(--font-family);
        font-size: 3rem; /* 48px / 16px */
        font-weight: 500;
        line-height: 3.625rem; /* 58px / 16px */
        letter-spacing: 0%;
        text-align: left;
        margin: 5rem 0 3.125rem 0; /* 80px 0 50px 0 / 16px */
        @media (max-width:1400px) {
            margin: 0.5rem 0;
        }
        @media (max-width:1200px) {
            font-size: 2rem; /* 32px / 16px */
            line-height: 1;
        }
        @media (max-width:991px) {
            font-size: 1.75rem; /* 32px / 16px */
            line-height: 1;
        }
        @media (max-width:768px) {
            margin: 1rem 0;
            font-size: 1.5rem;
        }
    }
    p, ol {
        color: var(--gray-65);
        font-family: var(--font-family);
        font-size: 1.25rem; /* 20px / 16px */
        font-weight: 400;
        line-height: 1.5rem; /* 24px / 16px */
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 0.625rem; /* 10px / 16px */
        @media (max-width:991px) {
            font-size: 1rem;
            margin-bottom: 0.5rem; /* 20px / 16px */
        }
        @media (max-width:540px) {
            font-size: 1rem;
            margin-bottom: 0.5rem; /* 20px / 16px */
        }
        
        strong {
            font-weight: 500;
        }
    }
    ol {
        li {
            margin-bottom: 20px;
            @media (max-width:768px) {
                margin-bottom: 10px;
            }
            @media (max-width:390px) {
                margin-bottom: 5px;
            }
        }
    }
}

.recipe_icon {
    p {
        color: var(--gray-65);
        font-family: var(--font-family);
        font-size: 1.25rem; /* 20px / 16px */
        font-weight: 500;
        line-height: 1.5rem; /* 24px / 16px */
        text-align: left;
        @media (max-width:991px) {
            font-size: 1rem;
        }
    }
}